<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <context-param>
        <param-name>base_url</param-name>
        <param-value>http://localhost:8080/Bioinformatica_website/</param-value>
    </context-param>
    <servlet>
        <servlet-name>AssingmentTechnasium</servlet-name>
        <servlet-class>nl.bioinf.web_servlets.AssingmentTechnasium</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AssignmentAnsweringServlet</servlet-name>
        <url-pattern>/answer.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AssingmentTechnasium</servlet-name>
        <url-pattern>/makeNotes.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <servlet>
        <servlet-name>AssignmentAnsweringServlet</servlet-name>
        <servlet-class>nl.bioinf.web_servlets.AssignmentAnsweringServlet</servlet-class>
    </servlet>
</web-app>
