/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/

/*Docenten boxes*/

.docenten_boxes
{
    float: left;
    width: 25%;
    margin-left: auto;
    margin-right: auto;
}

.element_to_pop_up { 
    background-color: #fff;
    /*  The border-radius determines the curves in the corners of the pop up element. */
    border-radius: 10px 10px 10px 10px;
    //  box-shadow: 0 0 25px 5px #999;
    //  color: #111;
    /*  The display cannot be seen until the button is clicked. */
    display: none;
    //min-width: 800px;
    width: 60%;
    //height: 450px;
    padding: 3%;
}

.close {
    /*  The border-radius determines the curves in the corners of the close button. */
    border-radius: 7px 7px 7px 7px;
    //  box-shadow: none;
    font: bold 131% sans-serif;
    padding: 0 2%;
    /*  The position and the right and top position
        makes sure that the close button can be found on the upper right corner. */
    position: absolute;
    right: -7px;
    top: -7px;
    /*  The background-color gives the blue color of the close button and the 
        color determines the color of the X itself. */
    background-color: #2b91af;
    color: #fff;
    //   cursor: pointer;
    //  display: inline-block;
}
.close:hover {
    /*  When the mouse hovers over the close button, the background color will change to black. */
    background-color: #1e1e1e;
}

.linkedInButton {
    background:url(../images/linkedin.png) no-repeat;
    cursor:pointer;
    height: 20px;
    width: 20px;
}

.teacher{
    width: 150px; 
}

div#arne{
    content:url(../images/arne.jpg);
}
div#martijn{
    content:url(../images/martijn.jpg);
}
div#marcel{
    content:url(../images/marcel.jpg);
}
div#michiel{
    content:url(../images/michiel.jpg);
}
div#ronald{
    content:url(../images/ronald.jpg);
}
div#tsjerk{
    content:url(../images/tsjerk.jpg);
}