/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 18, 2014, 11:20:23 AM
    Author     : mkslofstra
*/
/*text balloons*/
.triangle-border {
    position:relative;
    padding:15px;
    margin:1em 0 3em;
    border:5px solid #000;
    color:#333;
    background:#fff;
    /* css3 */
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
}

/* Variant : for left positioned triangle
------------------------------------------ */

.triangle-border.left {
    margin-left:30px;
}

/* Variant : for right positioned triangle
------------------------------------------ */

.triangle-border.right {
    margin-right:30px;
}

/* THE TRIANGLE
------------------------------------------------------------------------------------------------------------------------------- */

.triangle-border:before {
    content:"";
    position:absolute;
    bottom:-20px; /* value = - border-top-width - border-bottom-width */
    left:40px; /* controls horizontal position */
    border-width:20px 20px 0;
    border-style:solid;
    border-color:#000 transparent;
    /* reduce the damage in FF3.0 */
    display:block;
    width:0;
}

/* creates the smaller  triangle */
.triangle-border:after {
    content:"";
    position:absolute;
    bottom:-13px; /* value = - border-top-width - border-bottom-width */
    left:47px; /* value = (:before left) + (:before border-left) - (:after border-left) */
    border-width:13px 13px 0;
    border-style:solid;
    border-color:#fff transparent;
    /* reduce the damage in FF3.0 */
    display:block;
    width:0;
}
.triangle-border.left:before {
    top:10px; /* controls vertical position */
    bottom:auto;
    left:-30px; /* value = - border-left-width - border-right-width */
    border-width:15px 30px 15px 0;
    border-color:transparent #000;
}

/* creates the smaller  triangle */
.triangle-border.left:after {
    top:16px; /* value = (:before top) + (:before border-top) - (:after border-top) */
    bottom:auto;
    left:-21px; /* value = - border-left-width - border-right-width */
    border-width:9px 21px 9px 0;
    border-color:transparent #fff;
}

/* Variant : right
------------------------------------------ */

/* creates the larger triangle */
.triangle-border.right:before {
    top:10px; /* controls vertical position */
    bottom:auto;
    left:auto;
    right:-30px; /* value = - border-left-width - border-right-width */
    border-width:15px 0 15px 30px;
    border-color:transparent #000;
}

/* creates the smaller  triangle */
.triangle-border.right:after {
    top:16px; /* value = (:before top) + (:before border-top) - (:after border-top) */
    bottom:auto;
    left:auto;
    right:-21px; /* value = - border-left-width - border-right-width */
    border-width:9px 0 9px 21px;
    border-color:transparent #fff;
}
/* Variant : top
------------------------------------------ */

/* creates the larger triangle */
.triangle-border.top:before {
    top:-20px; /* value = - border-top-width - border-bottom-width */
    bottom:auto;
    left:auto;
    right:40px; /* controls horizontal position */
    border-width:0 20px 20px;
}

/* creates the smaller  triangle */
.triangle-border.top:after {
    top:-13px; /* value = - border-top-width - border-bottom-width */
    bottom:auto;
    left:auto;
    right:47px; /* value = (:before right) + (:before border-right) - (:after border-right) */
    border-width:0 13px 13px;
}


.left{
    left: 0px;
    width: 250px;
}
.right{
    left: -250px;
    top:-250px;
    width: 250px;
}
.up{
    background-color: #000;
    color: #fff;
    border: 2px;
    padding: 5px;
    bottom: 400px;
    left: 5px;
    width: 500px;
    position: relative;
    font-family: monospace;
    font-size: 14px;
}
.black{
    background-color: #000;
    color: #fff;
    border: 2px;
    padding: 10px;
    bottom: 300px;
    left: 40px;
    width: 500px;
    height: 200px;
    position: relative;
    font-family: monospace;
    font-size: 14px;
}
.css-typing
{
    width: 30em;
    white-space:nowrap;
    overflow:hidden;
    -webkit-animation: type 5s steps(50, end);
    animation: type 5s steps(50, end);
}

@keyframes type{
    from { width: 0; }
}

@-webkit-keyframes type{
    from { width: 0; }
}

.imageButton {
    position: relative;
    /*    top: 10px;
        left: -212px;*/
    float:left;
    width: 100px;
    background-color: #444;
    height: 30px;
    font-family: sans-serif;
    font-size: 14px;
    color: white;
    margin-top: 5px;
    margin-left: 2px;
    margin-right: 2px;

}

#first{
    left: -352px; 
    width: 50px;
    top:50px;
}

#last_question_button{
    left: -298px;
    top:15px;
}

#next_question_button{
    left: -194px;
    top: -20px;
}
#last{
    left: -90px;
    width: 50px;
    top: -55px;
}
.imageButton#bewijsMateriaal{
    width: 200px;
    top: 0px;
    left: 0px;
}

#nextPage{
    top: -120px;
    width: 200px;
}
.text {width: 800px;}

.text h1 {
  padding: 0 15px 20px 0;
  font: 230% 'News Cycle', arial, sans-serif;
  text-shadow:  #FFF 1px 1px;
  margin: 0 1px;
  color: #444;
}

.imageBoxes{
    margin-right:-20px;
}
.hidden{
    display: none;
}
#nextPage{
    top:-70px;
}
.move{
    margin-top: 0em;
    margin-bottom: 5em;
    margin-left:25.3em;
}